# An array with colors to plot a partition
colors.npz

# Folder where inbetween results are stored
tmp

# Folder where the meshes are stored 
out

# Folder where evaluation files are stored
eval

# Weights of the neural network
model.npz
model_cloud.npz

# Python
__pycache__

# Windows Dependencies
boost_numpy36-vc142-mt-x64-1_74.dll
boost_python36-vc142-mt-x64-1_74.dll
cp_ext.pyd
ply_c_ext.pyd